.signup_hashtag_container {
    flex:1;
    .logo_container {
        margin: 39px 0 0 43px; 
    }
}


.signup_hashtag_recommended {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

.signup_hashtag_content {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.recommended_text {
    color:#ACACAC;
    font-size: 22px;
    font-family: "TT Commons Regular";
    margin: 20px 0 17px 0;
    width:100%;
}

.recommended_pics {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-bottom: 40px;
}

.pics_row {
    display:flex;
    flex-direction:row;
}