.dash_container{
    display: flex;
}

.dash_main_sect {
display: flex;
}

.main_cont {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 50px;
    width: 1400px;
}
