.submenu{
    transition: .2s all ease;
    color:#BDBDBD;
    padding:15px 0px 15px 35px;
    cursor: pointer;
    display:flex;
    align-items: center;
    font-family: "TT Commons";
    font-size:15px;
    background-color: #4d4d4d;
}

.submenu:hover {
    color: #EBA2A1;
}