.tab-title {
    cursor: pointer;
    color: #939393;
    font-family: "TT Commons"!important;
    font-weight: 500;
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 35px;
    transition: all .3s ease;
    border-bottom: 3px solid rgba(107, 212, 226, 0);
}


.tab-title-active, .tab-title:hover  {
    color: $hlight;
    border-bottom: 3px solid $hlight;
}


.tab-title-hashtag{
    cursor: pointer;
    width:auto;
    display: flex;
    align-items: center;
    height:35px;
    padding:0px 15px;
    margin-right: 20px;
    border-radius: 8px;
    font-family: 'TT Commons';
    font-size: 20px;
    box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    transition: all .3s ease;
}

.dashboard{
    background-color: white;
    color:#939393;
}

.tagged {
    background-color:#3F3F3F;
    color:white;
}

.tab-title-hashtag-dashboard-active, .dashboard:hover {
    background-color: $hlight;
    color:white;
}

