@import './SubMenu/SubMenu.scss';

.menu{
    transition: .2s all ease;
    text-decoration: none;
    color:white;
    padding:5px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    // background-color: green;
    font-family: "TT Commons";
    font-size:15px;
    cursor: pointer;
}

.menuIcon {
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.menu:hover, .menu-active{
    background-color: #b08d90;
    text-decoration: none;
}

.menuLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p{
        margin:0;
        padding-top: 3.5px;
    }
}