@import './SubMenu/SubMenu.scss';

.menu{
    color:white;
    margin: 10px 0 10px 0;
    padding:0px 10px;
    display:flex;
    align-items: center;
    height: 40px;
    // background-color: green;
    font-family: "TT Commons";
    font-size:20px;
    cursor: pointer;
}

.menu:hover{
    background-color: #b08d90;
}