.avatar{
    display:flex;
    align-items: center;
}

.userphoto{
    border-radius: 50%;
    margin-right:10px;
}

.default_userphoto{
    width:40px;
    height:40px;
}

.sidebar_avatar{
    color:white;
    font-size:30px;
}

.sidebar_userphoto{
    border:2px solid white;
    width:40px;
    height:40px;
}