$bg: #F8F8F9;
$mcol: #D78D8C;
$hlight: #2AC3D8;
$time: #C99483;
$pghd: #616161;
$plc: #BDBDBD;

.tab-title {
    cursor: pointer;
    color: $plc;
    font-family: "TT Commons";
    font-weight: 500;
    padding: 5px 10px;
    margin-right: 35px;
    transition: all .3s ease;
    border-bottom: 2px solid rgba(107, 212, 226, 0);
}


.tab-title-active, .tab-title:hover  {
    color: $hlight;
    border-bottom: 2px solid $hlight;
}


.tab-title-hashtag{
    cursor: pointer;
    width:auto;
    padding:8px 10px;
    margin-right: 35px;
    border-radius: 5px;
    background-color: white;
    font-family: 'TT Commons';
    font-size: 16px;
    color:#939393;
    box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 2px 3px 0.1px rgba(0,0,0,0.12);
    transition: all .3s ease;
}

.tab-title-hashtag-active, .tab-title-hashtag:hover {
    background-color: $hlight;
    color:white;
}