.TitleContainer {
    display: flex;
    align-items: center;
    // float: left;
    // height:75px;
    cursor: default;
    // background-color: lightblue;

    hr {
        width:63px;
        height:3px;
        background-color: rgba(88, 87, 91, 0.2);
        margin:0px 20px;
        border: 0;
    }
}

.greeting {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PageTitle {
    font-family: "TT Commons DemiBold"!important;
    text-transform: uppercase;
    font-size: 45px;
    color: $pghd;
    font-family: sans-serif;
}


.title-msg{
    font-family: "TT Commons"!important;
    color: #58575b;
}

.title-msg-user {
    font-family: "TT Commons Bold"!important;
    color:$mcol;
    font-size: 35px;
}