.TitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SectionTitle {
    font-family: "TT Commons"!important;
    font-size: 20px;
    color: #626262;
    font-family: sans-serif;
    text-align: center;
    cursor: default;
}

.SectionButton {
    font-size: 16px;
    font-family: "TT Commons"!important;
    color: #626262;
    cursor: pointer;

    

}