.SectionTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
}

.SectionTitle {
    font-family: "TT Commons Medium"!important;
    font-size: 28px;
    color: #58575B;
    font-family: sans-serif;
    text-align: center;
    cursor: default;
}

.SectionButton {
    font-size: 20px;
    font-family: "TT Commons"!important;
    color: #58575B;
    cursor: pointer;


    // if tab title = this, on click set active
    // everything else, unactive
    

}