.SectionTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SectionTitle {
    font-family: "TT Commons Medium"!important;
    font-size: 32px;
    color: #58575B;
    font-family: sans-serif;
    text-align: center;
    cursor: default;
}

.SectionButton {
    font-size: 25px;
    font-family: "TT Commons"!important;
    color: #58575B;
    cursor: pointer;

    

}