@import './fonts/TTCommons/stylesheet.scss';
@import './fonts/Muli/stylesheet.scss';
@import './comps/styleguide.scss';

@import './comps/Sidebar/Sidebar.scss';
@import './comps/UserAvatar/UserAvatar.scss';
@import './comps/MentionPost/MentionPost.scss';
@import './comps/HashtagPost/HashtagPost.scss';
@import './comps/PageTitle/PageTitle.scss';
@import './comps/Section/section.scss';
@import './comps/Section/SectionTab/SectionTab.scss';
@import './comps/Logo/Logo.scss';
@import './comps/Button/Button.scss';
@import './comps/PickHashTag/PickHashTag.scss';
@import './comps/ScheduledPost/ScheduledPost.scss';
@import './comps/AddPost/AddPost.scss';
@import './comps/Popup/Popup.scss';
@import './comps/InputBox/InputBox.scss';

@import './pages/SignUp_Hashtag/SignUp_Hashtag.scss';
@import './pages/Dashboard/Dashboard.scss';
@import './pages/Home/Home.scss';
@import './pages/Hashtags/Hashtags.scss';

.App {
    display: flex;
    width:100vw;
}


body {
    background-color: #f8f8f9;
}

.sidebar-cont {
    background-color: #616161;
}