.SectionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    // background-color: lime;
}

.SectionTitleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: auto;
}

.SectionTitle {
    font-family: "TT Commons Medium"!important;
    font-size: 28px;
    color: #58575B;
    font-family: sans-serif;
    text-align: center;
    cursor: default;
}

.SectionButton {
    font-size: 20px;
    font-family: "TT Commons"!important;
    color: #58575B;
    cursor: pointer;
}

.main_sect_cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    width:auto;
    background-color: lightyellow;
}

.PostsContainer {
    list-style: none;
    display: flex;
    overflow-x: auto;
    width: auto;
    height:auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}